<ul style="list-style-type: none;">
  <li><a href="/parents/<%=@parent.id%>">Parents Console</a></li>
  <li><a href="/logout">Log Out</a></li>
</ul>
<%=@children.child_name%>
<br />
<br />

<%@children.feedings.each do |feeding|%>
  <p><%=feeding.feedings%>

    <br />
    <br />
    <a href="/feedings/<%=feeding.id%>/edit"><button type="button">EDIT</button></a>
    <form action="/feedings/<%=feeding.id%>/delete" method="POST">
        <input type="hidden" name="<%=@children.id%>" value="<%=@children.id%>">
        <input id="hidden" type="hidden" name="_method" value="delete">
        <input type="submit" value="DELETE">
    </form>
  </p>
<%end%>
<br />
<form action="/children/<%=@children.id%>/add_feeding" method="POST">
  <input type="datetime-local" name="feeding[feedings]">
  <input type="submit" value="Feeding time">
</form>
