<ul style="list-style-type: none;">
  <li><a href="/parents/<%=@parent.id%>">Parents Console</a></li>

  <li><a href="/logout">Log Out</a></li>
</ul>
<br />
<br />
<h1>Welcome <%=@parent.name%></h1>
<br />
<br />
<a href="/children/add_child">Add a child</a>
<br />
<%@parent.children.each do |child|%>
<div style="float: left; width: auto; height: auto; padding: 10px; text-align: center;">

  <p><a href="/children/<%=child.id%>"><%=child.child_name%></a>
    <br />
    <br />
    <a href="/children/<%=child.id%>/edit"><button type="button">EDIT</button></a>
    <form action="/children/<%=child.id%>/delete" method="POST">
        <input id="hidden" type="hidden" name="_method" value="delete">
        <input type="submit" value="DELETE">
      </form>
  </p>
</div>

<%end%>
